<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Junk Twitter</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="flex flex-col justify-between min-h-screen gap-8 columns-3 font-mono">

    <header class="flex justify-between items-center p-4 bg-yellow-900">
        <h1 class="text-xl font-bold">Junk Twitter</h1>
        <nav>
            {{#if logged_in}}
                <a href="/profile">Profile</a> | 
                <button id="logout">Logout</button>
            {{else}}
                <a href="/login">Login</a>
            {{/if}}
        </nav>
    </header>

    <card class="container px-80">
        {{{ body }}}
    </card>

    <footer class="p-4 bg-yellow-900">
        <!-- Footer Content -->
    </footer>

    {{#if logged_in}}
        <script src="/js/logout.js"></script>
    {{/if}}

</body>

</html>