<div class="flex flex-col items-center justify-center h-full p-10 font-mono">
    <h2 class="text-3xl font-bold mb-4">404 - Page Not Found</h2>
    <p class="mb-4">Sorry, we couldn't find that page.</p>
    {{#if logged_in}}
    <a href="/homepage" class="text-blue-500 hover:underline">Return to Home</a>
    {{else}}
    <a href="/login" class="text-blue-500 hover:underline">Go to Login</a>
    {{/if}}
</div>
