<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">{{comment}}</p>
        <p class="card-text">{{likes}}</p>
        <p class="card-text">{{dislikes}}</p>
    </div>
</div>