<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Junk Twitter - Homepage</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
        }
        .column-container {
            display: flex;
            flex-direction: row;
            min-height: 100vh;
        }
        .column {
            flex: 1;  /* Each column takes equal width by default */
            padding: 20px;  /* Padding for content */
        }
        .column-middle {
            flex: 2;  /* Middle column takes double the space of side columns */
        }
        .full-height-image {
            height: 100vh;
            width: 100vw;
            object-fit: cover;
            position: fixed;
            top: 0;
            left: 0;
            z-index: -1;
        }
        .content {
            position: relative;
            z-index: 10;
        }
        .card, nav {
            background-color: rgba(255, 255, 255, 0.8);
        }
    </style>
</head>
<body class="font-mono">

<div class="column-container gap-20">
    <div class="column bg-yellow-800 flex flex-col items-center pt-8 pb-4 max-w-xs mx-auto space-y-4"> <!-- Left Column -->
        <!-- Container to control width -->
        <div class="w-full flex flex-col items-center space-y-4">
            <div class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded flex justify-center">
                <span class="font-bold text-white">Home</span>
            </div>
            <a class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded flex justify-center items-center">
                <span class="icon">🔔</span>
                <span>Notifications</span>
            </a>
            <a class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded flex justify-center items-center">
                <span class="icon">📝</span>
                <span>Lists</span>
            </a>
            <a class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded flex justify-center items-center">
                <span class="icon">👤</span>
                <span>Profile</span>
            </a>
            <a class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded flex justify-center items-center">
                <span class="icon">⋮</span>
                <span>More</span>
            </a>
        </div>
    </div><!-- Left Column ends -->
    <div class="column bg-red-700"></div> <!-- Middle Column -->
    <div class="column bg-blue-700 max-w-xs mx-auto"></div> <!-- Right Column -->
</div>


    <footer class="p-4 bg-yellow-900">
        <!-- Footer Content -->
    </footer>

    {{#if logged_in}}
        <script src="/js/logout.js"></script>
    {{/if}}

</body>
</html>
